.header-register {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  height: 72px;
  padding: 16px 4px;
  background-color: $c-white;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);

  position: sticky;
  top: 0;
  z-index: 2;

  &__logo-img {
    width: 105.44px;
    height: 10.88px;
    margin: 14.56px 0;
    &:hover {
      cursor: pointer;
      transform: translateY(3px);
    }
  }
  &__location-form {
    display: none;
  }
}

.form-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 40px;

  &__sign-in {
    width: 73px;
    height: 40px;
    margin-right: 12px;
  }
  &__busket {
    display: none;
    margin: 0 10px 0 27px;
  }
}

.register {
  width: 72px;
  height: 40px;

  &__button {
    width: 72px;
    height: 40px;
    background: $c-back-main;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 11px;
    color: $c-white;

    transition: background-color 0.5s;
    
    &:hover {
      cursor: pointer;
      background-color: #363636;

    }
  }
}

.sign-in {
  &__button {
    width: 72px;
    height: 40px;
    border: 1px solid $c-border;
    background-color: $c-white;
    border-radius: 2px;
    padding: 0;

    transition: color 0.5s;

    font-weight: 500;
    font-size: 11px;
    
    &:hover {
      cursor: pointer;
      color: $c-green;

    }
  }
}

.busket {
  &__button {
    width: 20px;
    height: 25px;
    background-image: url(../images/basket.svg);
    background-repeat: no-repeat;
    background-color: $c-white;
    border: none;

    &:hover {
      transform: translateY(3px);
      cursor: pointer;
    }
  }
}
