@keyframes input_border {
  0% {
    border: 1px solid $c-white;
  }
  25% {
    border-top: 1px solid $c-green;
  }
  50% {
    border-right: 1px solid $c-green;
  }
  75% {
    border-bottom: 1px solid $c-green;
  }
  100% {
    border: 1px solid $c-green;
  }
}
