$c-white: #fff;
$c-back-main: #262626;
$c-border: #e0e0e0;
$c-green: #49a144;
$c-title: #1d1d1d;
$c-text: #626262;
$c-link_hover: rgba(117, 117, 117, 0.04);
$c-border-in-search_input: #757575;
$c-border-in-footer: rgb(125, 125, 125);
$c-language-form: #3b3b3b;

$border-rad: 2px;
